@{
    ViewBag.Title = "Index2";
    Layout = null;
}

<div>
    <h2>THÔNG TIN SINH VIÊN ĐÃ ĐĂNG KÍ</h2>
    <p>Mã sinh viên: @ViewBag.Id</p>
    <p>Họ tên:      @ViewBag.Name</p>
    <p>Điểm:        @ViewBag.Marks</p>
</div>
<div>
    <a style="margin-left:50" href="/BT2_61134498/Index">quay lại</a>
</div>



