
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>THÔNG TIN SINH VIÊN</h2>
<p>Mã sinh viên: 61134498</p>
<p>Họ tên : Trần Văn Tiền </p>
<p>Lớp : 61-CNTT2 </p>
<p>Ngày kiểm tra : 22/05/2022 </p>

