
@{
    ViewBag.Title = "PhepToan";
    Layout = null;
}
<h2>PhepToan</h2>
<form name="f1" action="/PHEPTOAN_61134498/UseArguments" method="post">
    <div>
        Nhập a: <input type="text" name="a" /> <br />
        Nhập b: <input type="text" name="b" />
    </div>
    <div>
        <input type="radio" checked name="pt" value="+" />Cộng &nbsp;
        <input type="radio" name="pt" value="-" />Trừ &nbsp;
        <input type="radio" name="pt" value="*" />Nhân&nbsp;
        <input type="radio" name="pt" value="/" />Chia&nbsp;
    </div>
    <div><input type="submit" value="Tính toán" /></div>
    <div>Kết quả: <input type="text" name="kq" value=@ViewBag.KQ /></div>
</form>

